# Java / Maven
auth-service/target/
user-service/target/
*.jar
*.class

# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache
*.log

# Keys RSA (generadas en runtime)
keys/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/src/tailwind.generated.css

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
Thumbs.db
.DS_Store

# Temp Office
~$*

# Qwen
.qwen/

.fake